body {
	font-family: 'Roboto', sans-serif;
	background-color: #222;
	margin: 0px;
	overflow: hidden;
}
*, *:before, *:after {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
canvas {
	width:100%;
	height:100%;
	transition: opacity 1000ms;
	position: absolute;
	z-index: -1;
}
h1 {
	font-weight: 800;
	font-size: 3.05em;
	color: #4A9DE7;
	text-transform:uppercase;
	margin:0;
	line-height: 1;
	font-weight: 100;
}
.info {
	position: absolute;
	bottom: 2.1em;
	right: 1em;	
}
p {
    margin: 0;
    font-weight: 400;
    text-transform: uppercase;
    color: #999;
    letter-spacing: 0.05em;
}
.credits {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    font-size: 0.7em;
    color: #777;
	text-align: right;
	line-height: 1.6;
}
a {
    color: #4A9DE7;
}
a:hover {
    color: #54AFFF;
    text-decoration: none;
}
#stats {
	right: 0;
}
.info {
	padding: 0 2em;
	text-align:center;
}
.arrow-prev:after, .arrow-next:after {
    content:"";
    width: 0px;
    height: 0px;
    border-style: solid;
    position: absolute;
    top: 50%;
    margin-top: -1em;
}
.arrow-prev:after {
	left: 0;
    border-width: 0.7em 1em 0.7em 0;
    border-color: transparent rgba(0, 123, 255, 0.67) transparent transparent;
}
.arrow-next:after {
    right: 0;
    border-width: 0.7em 0 0.7em 1em;
    border-color: transparent transparent transparent rgba(0, 123, 255, 0.67);
}
.arrow-prev, .arrow-next {
    position: absolute;
    top: 0;
    display: block;
    width: 2em;
    height: 100%;
    overflow: hidden;
    text-indent: 100px;
}
.arrow-prev {
    left: 0;
}
.arrow-next {
    right: 0;
}
.message {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	margin-top: -0.5em;
	font-size: 1.7em;
	text-align: center;
	text-transform: uppercase;
	color: rgba(74, 157, 231, 0.65);
	padding: 0 6%;
	pointer-events:none;
}
.npm-scb-now-playing {
	left: 0;
	padding-left: 138px;
	width: 100%;
}
.npm-scb-wrap {
	width: 100%;
}
.npm-scb-wrap p {
	letter-spacing:0;
}
.npm-scb-info {
	max-width: 300px;
	width: 100%;
	left: 0;
	padding-left: 120px;
	font-size: 0.9em;
}
.title {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    height: 100%;
	transform: scale(1);
	opacity: 1;
    font-size: 1.3em;
	display:none;
}
.transform-transition {
	-webkit-transition: -webkit-transform 1000ms, opacity 1000ms;
	   -moz-transition: -moz-transform 1000ms, opacity 1000ms;
	    -ms-transition: -ms-transform 1000ms, opacity 1000ms;
	     -o-transition: -o-transform 1000ms, opacity 1000ms;
	        transition: transform 1000ms, opacity 1000ms;
}
.title a {
    text-decoration: none;
}
.hide {
	-webkit-transform: scale(2);
	   -moz-transform: scale(2);
	    -ms-transform: scale(2);
	     -o-transform: scale(2);
	        transform: scale(2);
	opacity: 0;
}
.title-logo {
    max-width: 84%;
	-webkit-animation: grow 15000ms;
	   -moz-animation: grow 15000ms;
	    -ms-animation: grow 15000ms;
	     -o-animation: grow 15000ms;
	        animation: grow 15000ms;
    margin-top: 10%;
    max-height: 40%;
}
.title-left, .title-right {
	position:absolute;
	width:50%;
	bottom: 6%;
	height: 38%;
}
.title-left img, .title-right img {
    padding-bottom: 2em;
    margin-top: 12%;
    height: 57%;
    width: auto;
}
.title-left {
	left:0;
}
.title-right {
	right:0;
}
.title-webgl-error {
	text-transform:none;
	letter-spacing:0;
	max-width:80%;
	margin:8% auto 0;
	display:none;
}
.title-webgl-error p {
	margin:1em 0;
}
.title-right img {
	-webkit-animation:tiltA 10s infinite ease-in-out;
	   -moz-animation:tiltA 10s infinite ease-in-out;
	    -ms-animation:tiltA 10s infinite ease-in-out;
	     -o-animation:tiltA 10s infinite ease-in-out;
	        animation:tiltA 10s infinite ease-in-out;
}
.title-credits {
	color: rgba(255, 255, 255, 0.74);
	padding-top: 0.9em;
	position: relative;
	z-index: 1;
}
.nasa-logo {
	position:absolute;
	bottom: 1em;
	left: 1em;
	width: 10%;
	height: auto;
}
.menu {
    -webkit-transform: translateX(-300px);
       -moz-transform: translateX(-300px);
        -ms-transform: translateX(-300px);
         -o-transform: translateX(-300px);
            transform: translateX(-300px);
    transition: 500ms;
    width: 300px;
    position: absolute;
    height: 100%;
    border-right: 3px solid #324250;
    background: #222627;
    padding: 1em;
	z-index:1;
}
.menu-open .menu {
    -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
        -ms-transform: translateX(0);
         -o-transform: translateX(0);
            transform: translateX(0);
    box-shadow: 0 0 2em rgba(0, 0, 0, 0.19);
}
.container-blocker {
	display:none;
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:10;
	cursor: pointer;
}
.menu-open .container-blocker {
	display:block;
}
.menu-open .burger-wrapper {
    /* transform: translateX(0); */
}
.menu-open .container {
    -webkit-transform: translateX(300px);
       -moz-transform: translateX(300px);
        -ms-transform: translateX(300px);
         -o-transform: translateX(300px);
            transform: translateX(300px);
    opacity: 0.3;
}
.container {
	-webkit-transform: translateX(0);
	   -moz-transform: translateX(0);
	    -ms-transform: translateX(0);
	     -o-transform: translateX(0);
	        transform: translateX(0);
	height: 100%;
	transition: transform 500ms, opacity 500ms;
	width: 100%;
	position: absolute;
	z-index:0;
}
.burger-wrapper {
	padding: 1.5em 0.5em;
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
	-webkit-transform: translate(3.4em, 0.4em);
	   -moz-transform: translate(3.4em, 0.4em);
	    -ms-transform: translate(3.4em, 0.4em);
	     -o-transform: translate(3.4em, 0.4em);
	        transform: translate(3.4em, 0.4em);
	-webkit-transition: -webkit-transform 500ms;
	   -moz-transition: -moz-transform 500ms;
	    -ms-transition: -ms-transform 500ms;
	     -o-transition: -o-transform 500ms;
	        transition: transform 500ms;
}
.burger {
	display:block;
	height:0.3em;
	width:2em;
	background:#fff;
	position:relative;
	transition: all 0.66s;
	cursor: pointer;
}
.burger:after {
	content:'';
	position:absolute;
	top:0.8em;
	width:2em;
	height:0.3em;
	background:#fff;
	transition: all 0.66s;
}
.burger:before {
	content:'';
	position:absolute;
	top:-0.8em;
	width:2em;
	height:0.3em;
	background:#fff;
	-webkit-transition: all 0.66s;
	   -moz-transition: all 0.66s;
	    -ms-transition: all 0.66s;
	     -o-transition: all 0.66s;
	        transition: all 0.66s;
}
.npm-scb-white {
	position: absolute;
	width: 100%;
	left: 3em;
	-webkit-transition: -webkit-transform 500ms;
	   -moz-transition: -moz-transform 500ms;
	    -ms-transition: -ms-transform 500ms;
	     -o-transition: -o-transform 500ms;
	        transition: transform 500ms;
}
.menu-open .npm-scb-white {
    -webkit-transform: translateX(300px);
       -moz-transform: translateX(300px);
        -ms-transform: translateX(300px);
         -o-transform: translateX(300px);
            transform: translateX(300px);
}
.menu-open .burger {
	background:transparent;
}
.menu-open .burger:before {
	-webkit-transform:rotate(225deg);
	   -moz-transform:rotate(225deg);
	    -ms-transform:rotate(225deg);
	     -o-transform:rotate(225deg);
	        transform:rotate(225deg);
	top:0;
}
.menu-open .burger:after {
	-webkit-transform:rotate(-225deg);
	   -moz-transform:rotate(-225deg);
	    -ms-transform:rotate(-225deg);
	     -o-transform:rotate(-225deg);
	        transform:rotate(-225deg);
	top:0;
}
.menu-bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
	padding: 1em;
}
.menu-bottom-mute {
	text-align:right;
}
.menu-bottom-mute img {
	width:60px;
}
.menu-bottom-reset {
	position: absolute;
	bottom:1.3em;
	left:1em;
}
.poem-mute-svg {
    width: 65px;
}
.poem-menu-bottom {
    text-align: right;
}
@media screen and (min-width:1200px) {
	.info {
		font-size:1.3em;
	}
}

@media screen and (max-width: 600px) {
	.info {
		font-size:0.6em;
		width:100%;
		text-align: center;
		right:0;
	}
	.credits {
		right:0;
		text-align: left;
		padding: 0 19px;
		font-size: 0.6em;
	}

	.arrow-prev:after {
	    right: 0;
		left: auto;
	}
	.arrow-next:after {
	    left: 0;
		right: auto;
	}	
	.npm-scb-now-playing {
		display:none;
	}
}
.menu-title {
    color: rgb(46, 97, 143);
    font-size: 1.7em;
    text-align: center;
    font-weight: 800;
    line-height: 1.2;
    margin-top: 0.1em;
    text-shadow: 0 0.1em 0 #000;
}
.menu-middle {
    position: absolute;
    left: 0;
    right: 0;
    top: 4.4em;
    bottom: 5em;
    overflow: hidden;
    overflow-y: auto;
    padding: 1em;
    background: rgba(39, 46, 52, 1);
    border-top: 1px solid #1B1E1F;
    border-bottom: 1px solid rgba(74, 157, 231, 0.09);
}
.menu-level-name {
    margin: 0;
    font-weight: 100;
    font-size: 1.1em;
    margin-bottom: 0.3em;
}
.menu-level-description {
    color: rgba(74, 157, 231, 0.66);
    text-transform: none;
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.67);
    font-weight: 100;
}
a.menu-level {
    display: block;
    border: 1px solid rgba(57, 91, 118, 1);
    margin: 1.3em 0;
    padding: 0.5em;
    text-decoration: none;
    box-shadow: 0 0 0.9em rgba(0, 0, 0, 0.22);
    background: #273844;
    -webkit-transition: -webkit-transform 200ms;
       -moz-transition: -moz-transform 200ms;
        -ms-transition: -ms-transform 200ms;
         -o-transition: -o-transform 200ms;
            transition: transform 200ms;
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
}
a.menu-level-titles {
	text-align: center;
	padding: 0.4em;
	margin-top: 0.5em;
}
a.menu-level:hover {
    -webkit-transform: scale(1.015);
       -moz-transform: scale(1.015);
        -ms-transform: scale(1.015);
         -o-transform: scale(1.015);
            transform: scale(1.015);
}
@media (max-width:400px) {
	.menu {
	    font-size: 0.85em;
	}
	.menu-open .burger-wrapper {
	    -webkit-transform: translateX(-0.1em);
	       -moz-transform: translateX(-0.1em);
	        -ms-transform: translateX(-0.1em);
	         -o-transform: translateX(-0.1em);
	            transform: translateX(-0.1em);
	}
	.menu-title {
	    text-align: left;
	    font-size: 3.8em;
	}
	.menu-middle {
	    top: 4.8em;
	    bottom: 3.5em;
	}
	.menu-bottom-mute img {
	    width: 35px;
	    position: relative;
	    top: 4px;
	}
}